
#header
    h1 Proxy Intercept 
    ul
        li 
            div.selected#proxy Proxy Calls
        li
            div#console Console
#content
    div#proxyView
        div#tmpl-responseTmpl(style='display:none')
            div.responseUrl <span>{{method}}<span> - {{url}}
            div.responseDetails
                div.requestConrols 
                    span.reqBtn.selected(cmd='requestHeaders') Request Headers
                    span.reqBtn(cmd='responseHeaders') Response Headers
                    span.reqBtn(cmd='responseData') Response Data
                div.requestHeaders
                    {{#requestHeadersArr}}
                    div
                        span.headerKeys {{key}} 
                        span.headerValues {{value}}
                    {{/requestHeadersArr}}
                div.responseHeaders
                    {{#responseHeadersArr}}
                    div
                        span.headerKeys {{key}}
                        span.headerValues {{value}}
                    {{/responseHeadersArr}}
                div.responseData
                br(style='clear:both')
    div#consoleView
script(type='text/javascript')
    var proxyControls = new ProxyControls({el : $('#header')});
    tryConnect();
