!!! 5
html(lang="en")
    head
        title Proxy Intercept
        script(src="/socket.io/socket.io.js", type="application/javascript")
        script(src="/javascripts/proxyClient.js", type="application/javascript")
        script(src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.2/prototype.js", type="application/javascript")
        script(src="http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.1/scriptaculous.js", type="application/javascript")
        link(rel='stylesheet', href='/stylesheets/styles.css')
    body
        div#wrapper!= body
