!!! 5
html(lang="en")
    head
        title Proxy Intercept
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js", type="application/javascript")
        script(src="http://documentcloud.github.com/underscore/underscore.js")
        script(src="http://documentcloud.github.com/backbone/backbone.js")
        script(src="/socket.io/socket.io.js", type="application/javascript")
        script(src="/javascripts/proxyModel.js", type="application/javascript")
        script(src="/javascripts/proxyClient.js", type="application/javascript")
      link(rel='stylesheet', href='/stylesheets/styles.css')
    body
        div#wrapper!= body
