!!! 5
html(lang="en")
    head
        title Proxy Intercept
        script(src="/javascripts/lib/jquery-1.6.1.js", type="application/javascript")
        script(src="/javascripts/lib/mustache.js", type="application/javascript")
        script(src="/javascripts/lib/underscore.js", type="application/javascript")
        script(src="/javascripts/lib/backbone.js", type="application/javascript")
        script(src="/socket.io/socket.io.js", type="application/javascript")
        script(src="/javascripts/client/functions.js", type="application/javascript")
        script(src="/javascripts/client/proxyClient.js", type="application/javascript")
        script(src="/javascripts/client/proxyModel.js", type="application/javascript")
      link(rel='stylesheet', href='/stylesheets/styles.css')
    body
        div#wrapper!= body
