html {
        height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    background-color:#aaaaaa;
}

#wrapper {
    padding: 0px;
}

h1 {
    margin: 0px;    
    padding-top:12px;
    padding-left:20px;
    float:left;
}

#header {
    font-family : Helvetica, sans-serif;
    position : absolute;
    z-index : 1;
    top : 0px;
    left : 0px;
    width: 100%;
    background-color:#666;
    clear:both;
}

#header ul {
    height: 26px;
    margin: 10px 0 0;
    padding: 6px 10px;
    position: relative;
    float:right;
    margin-right:100px;
}

#header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

#header div {
    border-radius: 4px 4px 4px 4px;
    color: #000000;
    background-color:#cccccc;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    display:inline;
    cursor:pointer;
    margin-right: 10px;
    padding: 5px 8px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}

#header div.selected {
    background-color:white;
    color:#333333;
         
}

#header div.over {
    background-color:#aaaaaa;
    color:#333333;
    text-decoration:none;
}

#content {
    font-family : Helvetica, sans-serif;
    position:relative;
    height:100%;
    padding: 70px 15px;
}

#proxyView {
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
    border-radius : 10px;
    background-color:white;
    padding: 8px;
}

#interceptView {
    display:none;
}

#connectionTemplate {
    display:none;
}

#consoleView {
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
    border-radius : 10px;
    background-color:black;

    color:green;
    font-size:9pt;
    padding: 8px;
    display:none;                    
}

.responseUrl {
    margin-top: 8px;
    cursor:pointer;
    font-size:9pt;
}

.responseDetails {
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
    border-radius : 10px;
    background-color:#aaaaaa;
    padding: 8px;
    display:none;
}

.requestConrols  {
    font-size:8pt;
    margin-bottom:8px;
}

.reqBtn {
    border-radius: 2px 2px 2px 2px;
    color: #000000;
    background-color:#cccccc;
    font-size: 11px;
    height: 20px;
    line-height: 26px;
    cursor:pointer;
    margin-right: 10px;
    padding: 5px 8px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}

.requestConrols span.selected {
    background-color:white;
    color:#333333;

}

.requestConrols span.over {
    background-color:#666;
    color:white;
    text-decoration:none;
}


.requestHeaders {
    font-size:8pt;
}

.requestHeaders div {
    clear:both;
}

.responseHeaders {
    font-size:8pt;
    display:none;
}

.responseHeaders div {
    clear:both;
}

.headerKeys {
    font-weight:bold;
    width:100px;
    margin-right:8px;
    text-align:right;
    float:left;
}

.headerValues {
    float:left;
    width:400px;
}   

.responseData {
    display: none;
    font-size:10pt;
    margin-top:10px;
}




